# WARN: EXCLUDE - ALL
*

# NOTE: Git
!.gitignore
!.gitconfig

###################

# INFO: My Configuration
!.config/

# INFO: .config/nvim
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*

# WARN: EXCLUDE
.config/nvim/lazy-lock.json

# INFO: .config/zellij
!.config/zellij/
!.config/zellij/*
!.config/zellij/layouts/
!.config/zellij/layouts/*
!.config/zellij/themes/
!.config/zellij/themes/*

###################

# INFO: ML4W Hyprland dotfiles
!.mydotfiles/
!.mydotfiles/com.ml4w.dotfiles.stable/
!.mydotfiles/com.ml4w.dotfiles.stable/.config/

# INFO: ML4W - Auto-Install/Update
!.ml4w-hyprland/
!.ml4w-hyprland/hook.sh
!.ml4w-hyprland/automation.sh

# INFO: ML4W - Kitty
!.mydotfiles/com.ml4w.dotfiles.stable/.config/kitty/
!.mydotfiles/com.ml4w.dotfiles.stable/.config/kitty/custom.conf

# INFO: ML4W - Zsh
!.mydotfiles/com.ml4w.dotfiles.stable/.config/zshrc/
!.mydotfiles/com.ml4w.dotfiles.stable/.config/zshrc/05-init-snork
!.mydotfiles/com.ml4w.dotfiles.stable/.config/zshrc/15-aliases-snork
!.mydotfiles/com.ml4w.dotfiles.stable/.config/zshrc/25-customization-snork
!.mydotfiles/com.ml4w.dotfiles.stable/.config/zshrc/35-autostart-snork

# INFO: ML4W - Hyprland
!.mydotfiles/com.ml4w.dotfiles.stable/.config/hypr/
!.mydotfiles/com.ml4w.dotfiles.stable/.config/hypr/conf/
!.mydotfiles/com.ml4w.dotfiles.stable/.config/hypr/conf/custom.conf

# INFO: ML4W - Keybindings
!.mydotfiles/com.ml4w.dotfiles.stable/.config/hypr/conf/keybindings
!.mydotfiles/com.ml4w.dotfiles.stable/.config/hypr/conf/keybindings/snork.conf

####################

