# WARN: EXCLUDE - ALL
*

# NOTE: Snork - Git
!.gitignore
!.gitconfig


# INFO: Snork - My Config
!.config/


# INFO: Snork - Neovim
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*

# WARN: EXCLUDE - lazy lockfile
.config/nvim/lazy-lock.json

# INFO: Snork - Zellij
!.config/zellij/
!.config/zellij/*
!.config/zellij/layouts/
!.config/zellij/layouts/*



# INFO: ML4W - Custom Config
!dotfiles/
!dotfiles/.config/


# INFO: ML4W - Auto-Install/Update
!.ml4w-hyprland/
!.ml4w-hyprland/hook.sh
!.ml4w-hyprland/automation.sh


# INFO: ML4W - Zsh
!.zshrc
!dotfiles/.config/zshrc/
!dotfiles/.config/zshrc/05-init-snork
!dotfiles/.config/zshrc/15-aliases-snork
!dotfiles/.config/zshrc/25-customization-snork


# INFO: ML4W - Hyprland
!dotfiles/.config/hypr/
!dotfiles/.config/hypr/conf/
!dotfiles/.config/hypr/conf/custom.conf


# INFO: ML4W - Keybindings
!dotfiles/.config/hypr/conf/keybindings
!dotfiles/.config/hypr/conf/keybindings/snork.conf

