layout {
    tab name="NEOVIM" focus=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane command="nvim"
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="TERMINAL" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="INFRA" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane command="btop" size="60%"
            pane split_direction="horizontal" {
                pane cwd="/home/snork/Projects"
                pane cwd="/home/snork/Projects/infra"
            }
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
}
